doctype html
html
  head
    title= 'from layout.pug'

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')

    // required order is as follows: jquery then bootstrap then css

    script(type='text/javascript', src='https://code.jquery.com/jquery-1.12.4.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js')
    script(type='text/javascript', src='js/main.js')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/style.css')

  body
    block content
