extends layout

block content

    form(method='POST', action='/send')
        h3 Please confirm text message.
        p
        p
        textarea(rows="5" name="textMsg")=textMsg

        p
        button#btnSend.btn.btn-success Send Text

    form(method='GET', action='/cancelpreview')
        p
        p
        button#btnBack.btn.btn-default Cancel

    form(method='GET', action='/home')
        p
        p
        button#btnHome.btn.btn-default home page


