doctype html
html(lang='en')
    head
        title FSWF Messaging App (1)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/kb_style.css')
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(src='js/jquery.js')
        script(src='js/bootstrap.js')
        script(src='js/bootstrap.bundle.js')
        
    body(data-spy='scroll', data-target='navbar', data-offset='100')
        nav.navbar.navbar-default.navbar-fixed-top
            img#logo(src='images/logo-FS.png')
            .container-fluid
                h3#header  Fresh start messaging application
