extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/groupdd/edit/'+groupddInForm._id)
                .form-group
                    label(for='groupName') Workgroup Name:
                    input.form-control(class='mlen', name='groupName', type='text', placeholder='' value=groupddInForm.name required)
                br
                input.btn.btn-info.btn-fswf1(type="submit", value="Submit Changes")
                button.btn.btn-info.btn-fswf2(type='button' href='/groupdd') Cancel
            br
