extends page_layout1

block content
    if !user
        .container
            br
            h1 Please log in...
            form(role='form',method='POST', action='/login')
                .form-group
                    label(for='username') Your User Name:
                    input.form-control(class='u-full-width', name='username',type='text', placeholder='')
                .form-group
                    label(for='password') Your Password:
                    input.form-control(class='u-full-width', name='password',type='password', placeholder='')
                br
                input.button-primary(type='submit', value='Login')
            br
    if user
        .container
            h1 Logout to see Login Form
