extends page_layout2

block content
    if user
        .container
            h1 #{title}
            br
            form(id="twilioForm" role='form' method='POST' action='/twilio/messages')
                label(for='txtCustomMsg') Personalized Message:
                input(name='txtCustomMsg' type='text' placeholder='Enter Message Body...' size='35')
                br
                br      
                label(for='txtCustomFrom') From:
                input(name='txtCustomFrom' type='text' placeholder='From...' size='35')
                br
                br
                label(for='txtFromGrp') From Group:
                select(name='txtFromGrp', size='0')
                    option(disabled='', selected='', value='')  -- Select a Group -- 
                    option(value="Fresh Start Women's Foundation") Fresh Start Women's Foundation
                    option(value='Social Services') FSWF Social Services
                    option(value='Family Law') FSWF Family Law
                br
                br
                label(for='txtClient1') To #:
                input.msgToNum(name='txtClient1' type='number' placeholder='Client Phone #1...' maxlength="10")
                br
                br
                label(for='txtCallback') Callback #:
                input(name='txtCallback', type='number' placeholder='Callback Phone...')
                br
                br
                input(type="submit", value="Submit Text")
                input.clrForm(type="button", value="Reset Form")
