extends page_layout2

block content
    if user && user.role=='admin'
        .container
            h1 #{title}
            br
            table.u-full-width
              thead
                  tr
                      th Username
                      th Role
                      th
              tbody
                  each user, i in users
                      tr
                          td= user.username
                              td= user.role
                              td
                                  a.btn.btn-info.btn-sm(href="/users/edit/"+user._id) Edit
                                  if user.role!=='admin'
                                      button.btn.btn-danger.btn-sm.delete-user(href='#', data-id=user._id) Delete
