extends page_layout1

block content
    if user
        .container
            br
            h1 #{title}
            br
            h5 Lorem ipsum dolor sit amet, modus scaevola theophrastus ad sea. Tation labitur ea his, tollit disputando repudiandae in eum. Ius nulla nullam necessitatibus in. Et usu altera volutpat consulatu, evertitur adolescens vix at.
            br
            h5 qui minim denique, pro tantas primis eu, accusata voluptatum et per. Eam etiam harum scripserit ex. Mel ne iisque debitis scaevola, per porro patrioque urbanitas ne. Per no eruditi suscipit temporibus. Cu vim perfecto vituperata, quando intellegam eam an, ex quo lobortis reprimique.
            br
            a.button.btn.btn-primary(type='button' value='I agree' href='/reminders') I agree
        br
