extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/users/edit/'+userInForm._id)
                .form-group
                    label(for='username') Username:
                    input.form-control(class='loginfld', name='username', type='text', placeholder='' value=userInForm.username required)
                br
                .form-group
                    label(for='role') Role:
                    select.form-control(class='loginfld' name='txtFromGrp', size='0' value=userInForm.role required)
                        option(value='admin') admin
                        option(value='staff') staff
                br
                .form-group
                    label(for='password') Password:
                    input.form-control(class='loginfld' name='password', type='password', placeholder='' required)
                br
                .form-group
                    label(for='password2') Confirm Password:
                    input.form-control(class='loginfld' name='password2' type='password' placeholder='' required)
                br
                input.btn.btn-info.btn-fswf1(type="submit", value="Submit Changes")
                button.btn.btn-info.btn-fswf2(type='button' href='/users') Cancel
            br
