extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/reminderdd/edit/'+reminderddInForm._id)
                .form-group
                    label(for='reminderName') Reminder Message:
                    input.form-control(class='mlen', name='groupName', type='text', placeholder='' value=reminderddInForm.name required)
                br
                input.btn.btn-info.btn-fswf1(type="submit", value="Submit Changes")
                button.btn.btn-info.btn-fswf2(type='button' href='/reminderdd') Cancel
            br
