extends page_layout2

block content
    .container
        form(method='POST', action='/send')
            h3 Please confirm text message:
            br
            h5 #{textPreview}
            p
            button#btnSend.btn.btn-success Send Text
            button#btnBack.btn.btn-default Cancel/Edit Text
        br
        if user
            h5 You can see this because you're logged in.
        br
        if user && user.role == 'admin'
            h5 You can see this because you're an admin.
            h5 #{title}
