extends page_layout1

block content
    if !user
        .container
            br
            h1 Please log in...
            form(role='form',method='POST', action='/login')
                .form-group
                    label(for='username') User Name:
                    input.form-control(class='loginfld' name='username',type='text', placeholder='')
                .form-group
                    label(for='password') Password:
                    input.form-control(class='loginfld' name='password',type='password', placeholder='')
                br
                input.button-primary(class='bluebtn', type='submit', value='Login')
            br
    if user
        .container
            h1 Logout to see Login Form
