extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/groupdd/edit/'+groupddInForm._id)
                .form-group
                    label(for='groupName') Workgroup Name:
                    input.form-control(class='mlen', name='groupName', type='text', placeholder='' value=groupddInForm.name required)
                br
                button.btn.btn-info.btn-sm(class='bluebtn2' Type='submit') Submit Changes
                a.button.btn.btn-default.btn-md(type='button' href='/groupdd') Cancel
            br
