extends page_layout2

block content
    if user
        .container
            h1 #{title}
            br
            form(id="twilioForm" role='form' method='POST' action='/twilio/reminders')
                label(for='txtStdRmndr') Standard Reminder:
                select(name="txtStdRmndr" size="0")
                    option(disabled='', selected='', value='')  -- Select a Reminder Message -- 
                    option(value='This is a reminder for your upcoming FSWF appt.')
                        | This is a reminder for your upcoming FSWF appt.    
                    option(value='This is a reminder to bring your documents to your next FSWF appt.')
                        | This is a reminder to bring your documents to your next FSWF appt.    
                br
                br
                label(for='txtCustomRem') Custom Message:
                input(name='txtCustomRem' type='text' placeholder='Enter Message Body...' size='35')
                br
                br
                label(for='txtApptDate') Appointment Date:
                input(name='txtApptDate' type='date')
                br
                br
                label(for='txtApptTime') Appointment Time:
                input(name='txtApptTime' type='time' value='09:00:00', step='900')
                br
                br
                label(for='txtCustomFrom') From:
                input(name='txtCustomFrom' type='text' placeholder='From...' size='35')
                br
                br
                label(for='txtFromGrp') From Group:
                select(name='txtFromGrp', size='0')
                    option(disabled='', selected='', value='')  -- Select a Group -- 
                    option(value="Fresh Start Women's Foundation") Fresh Start Women's Foundation
                    option(value='FSWF Social Services') FSWF Social Services
                    option(value='FSWF Family Law') FSWF Family Law
                br
                br
                label(for='txtClient1') Client #:
                input(name='txtClient1' type='number' placeholder='Client Phone...' data-field=0)
                br
                br
                label(for='txtCallback') FSWF Contact #:
                input(name='txtCallback', type='number' placeholder='FSWF Contact Phone...')
                br
                br
                input(type="submit", value="Submit Text")
                input.clrForm(type="button", value="Reset Form")
            br
