extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/users/edit/'+userInForm._id)
                .form-group
                    label(for='username') Username:
                    input.form-control(class='u-full-width', name='username', type='text', placeholder='Username...' value=userInForm.username)
                br
                .form-group
                    label(for='role') Role:
                    select.form-control(name='txtFromGrp', size='0' value=userInForm.role)
                        option(value='admin') admin
                        option(value='staff') staff
                br
                .form-group
                    label(for='password') Password:
                    input.form-control(name='password', type='password', placeholder='Enter password...')
                br
                .form-group
                    label(for='password2') Confirm Password:
                    input.form-control(name='password2' type='password' placeholder='Confirm password...')
                br
                button.btn.btn-info(type='submit') Submit Changes
            br
