extends page_layout2

block content
    if user && user.role=='admin'
        .container
            h1 #{title}
            br
            hr
            h4 Add a Workgroup:
            br
            form(role='form' method='POST' action='/groupdd/add')
                .form-group
                    //- label(for='groupName') Group Name:
                    input.form-control(class='mlen', name='groupName', type='text', placeholder='' required)
                
                input.btn.btn-info.btn-fswf1(type="submit", value="Submit Workgroup")
            br
            hr
        .container
            br
            h4 Current Workgroup List:
            table.table
                thead
                    tr
                        th(scope='col') Name
                        th(scope='col') Active
                        th(scope='col') Actions
                tbody
                    each groupdd, i in groupdds
                        tr
                            td= groupdd.name
                            td= groupdd.active
                            td
                                a.btn.btn-info.btn-fswf3(href="/groupdd/edit/"+groupdd._id) Edit
                                button.btn.btn-danger.btn-sm.delete-group(href='#', data-id=groupdd._id) Delete
