doctype html
html
    head
        title FSWF Messaging App (1)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.ico')
        link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        script(type='text/javascript' src='/js/main.js')
    body
        .container
            //- A grey horizontal navbar that becomes vertical on small screens
            nav.navbar.navbar-expand-sm.bg-light
                ul.navbar-nav
                    h5 FSWF Messaging Application
                    if user
                        li.nav-item
                            a.nav-link(href='/login/logout') Logout
            br
            != messages('include_msgs', locals)
            if errors
              each error, i in errors
                div.alert.alert-danger #{error.msg}  
            br
        block content
        .container
            hr
            footer
                .myfooter.monkey-l
                    p Copyright ©2018 Fresh Start Women's Foundation
                .myfooter.monkey-r
                    p 2018/04/16.01

