extends page_layout2

block content
  if user && user.role=='admin'
        .container
            h1 #{title}
            br
            form(role='form' method='POST' action='/reminderdd/edit/'+reminderddInForm._id)
                .form-group
                    label(for='reminderName') Reminder Message:
                    input.form-control(class='mlen', name='groupName', type='text', placeholder='' value=reminderddInForm.name required)
                br
                button.btn.btn-info.btn-sm(class='bluebtn2', type='submit') Submit Changes
                a.button.btn.btn-default.btn-md(type='button' href='/reminderdd') Cancel
            br
