body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.cp {
  font-size: 14px;
  color: #00B7FF;
}

.box {
  border-color: black;
  border-width: medium;
  font-size: 14px;
  text-align: left;
}

li{
    color: red;
    font-size: 10;
    font-style: italic;
}

.textpreview{
    height: 100px;

}

