body {
  /* padding: 3em; */
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
  align-content: center;
}
/* standard FSWF blue */
h1 {
   color: #178FB0;
}
/* standard FSWF orange */
h2, h3, h4, h5, title {
    color: #e0a228;
}
/* standard FSWF orange */
label {
    color: #e0a228;
    font-size: 16px;
}
/* standard FSWF blue */
a {
  color: #178FB0;
}
th {
  color: #178FB0;
  font: 16px "Raleway", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}
td {
  color: #178FB0;
  font: 14px "Raleway", Helvetica, Arial, sans-serif;
}
.image img {
    max-height: 200px;
    max-width: 200px;
}
/* standard FSWF blue buttons) */
.bluebtn{
    background-color: #178FB0;
    color: white;
    height: 3em;
    width: 6em;
}
/* standard FSWF blue buttons (large) */
.bluebtn2{
    background-color: #178FB0;
    color: white;
    height: 3em;
    /* width: 9em; */
}
#greybtn{
    height: 5em;
    width: 15em;
}
.fswf {
  font-weight: bold;
  font: 16px "Raleway", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
.fswf-navbg {
  background-color: #178FB0;
  min-height: 40px;
}
.btn-fswf1{
  background-color: #178FB0;
  margin-right: 50px;
  margin-top: 30px;
  border-color: #0E566A;
  border-width: 1px;
}
.btn-fswf1:hover {
  color: #178FB0;
  background-color: #DDDDDD;
  border-color: #0E566A;
}
.btn-fswf2{
  background-color: #DDDDDD;
  margin-right: 50px;
  margin-top: 30px;
  border-color: #0E566A;
  border-width: 1px;
  color: #178FB0;
}
.btn-fswf3{
  background-color: #178FB0;
  margin-right: 25px;
  border-color: #0E566A;
  border-width: 1px;
}
.btn-fswf3:hover {
  color: #178FB0;
  background-color: #DDDDDD;
  border-color: #0E566A;
}
.btn-danger {
  border-color: #0E566A;
  height: 35px;
}
/* standard FSWF blue */
.form-group{
    color: #178FB0;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-error hr {
    border-top-color: #f1b0b7;
}
.alert-error .alert-link {
    color: #491217;
}

.form-row {
  display: inline-block;
}

/* login fields-user admin pages too*/
.loginfld{
    min-width: 10em;
    max-width: 20em;
    border-style: solid;
    border-width: 1px;
    border-color: #187197;
}
/* standard input field width*/
.mlen{
    min-width: 15em;
    max-width: 35em;
}
/* outline all input fields */
.form-control {
    border-style: solid;
    border-width: 1px;
    border-color: #187197;
}

.monkey-l {
    display: inline-block;
    float: left;
    color: #187197;
}

.monkey-r {
    display: inline-block;
    float: right;
    color: #187197;
}
#navbarContainer {
  padding-top: 0em;
}
.page-item.active .page-link{
  background-color: #178FB0
}
.nav-link {
  font-weight: bold;
  font: 16px "Raleway", Helvetica, Arial, sans-serif;
  color: white;
}
.logo {
    display: inline-block;
    float: right;
    color: #187197;
    /* margin-left: 50%; */
    top: 0px;
}
.navbar-nav {
  overflow: visible;
}
.messages {
  max-width: 50%;
}
.delete-msg{
  color: red;
  text-decoration: underline;
}
